# Ignore virtual environments
venv312/
venv/
.venv/
env/
.env

# Ignore pypvcell and other unrelated folders
D:\VS_CODE\Infiswift\pypvcell/
pypvcell/
metpv_automation.zip

# Ignore large data files (optional - comment out if you want them tracked)
# *.csv
excel_to_sql.py
maxifit_output/
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

inspection.json
maxifit-automation.mp4
docs-japanese.pdf

run_pure_pysam.py
temp-data.pdf
モジュール配置図_RP-0007-SL03-00_Mie Fukuo.pdf
モジュール配置図_RP-0039-SL01-00_Mie Tsu.pdf
モジュール配置図_RP-0040-SL01-00_Kagoshima iriki.pdf
モジュール配置図_RP-0042-SL01-00_Nagano.pdf
簡易シミュレーター.xlsx
test_integrated_system.py
# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
